MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=helpdesk_dev
MYSQL_USER=helpdesk
MYSQL_PASSWORD=helpdesk123

JWT_SECRET=i27academy-secret-key-which-is-32chars
JWT_EXPIRY_MILLIS=3600000

SMTP_USER=demo@example.com
SMTP_PASSWORD=demo-password
